<div id="home-faq-all">
    <div class="home-faq-titulo home-titulostyle">
        <h1>FAQ</h1>
    </div>
    
        <div id="home-faq-imagem">
            <img src="../../assets/Questions-pana 1.png">
        </div>
        <div id="home-faq-text">
           <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed dapibus risus. Praesent luctus efficitur venenatis. Ut et ullamcorper lacus,
                porttitor euismod felis. Suspendisse potenti. Aliquam auctor sem nec laoreet tincidunt. Donec venenatis lorem vel massa dictum, vel interdum neque
                viverra. <br> <br> Cras sed vehicula orci, vel ultricies orci. Aliquam quis vehicula quam. Sed placerat dictum diam rhoncus scelerisque. Sed faucibus elit 
                ac erat rutrum ultricies. Etiam quis augue pulvinar odio condimentum malesuada. Fusce metus neque, venenatis eu arcu elementum, efficitur placerat 
                purus. <br> <br> Maecenas eget est eu erat cursus cursus sed et dui. Praesent congue velit sed mauris gravida facilisis. Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit. .
            </p>
        </div>
       
</div>
